@import "variables";

/* ПЕРЕМЕННЫЕ */
$font-size: 14px;
$height-block: 38px;
$color-border-control: #5a6268;
$color-border-control-blue: #007bff;
$color-indeterminate-bg: #80888e;

$active-color-text: #495057;
$active-color-border: #a1cbef;

/* БЛОК базовых полей ввода */
.input {
  display: block;
  width: 100%;
  height: $height-block;
  padding: 5px 10px;
  font-size: $font-size;
  font-weight: 400;
  line-height: 1;
  color: $color-text-base;
  background-color: #ffffff;
  border: 1px solid $color-border;
  border-radius: $border-radius;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus,
  &.is-active {
    color: $active-color-text;
    background-color: #ffffff;
    border-color: $active-color-border;
    outline: 0;
    box-shadow: $shadow-box-blue;
  }

  &.is-invalid {
    border-color: $color-border-red;
    padding-right: 45px;
    position: relative;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;

    &:focus {
      border-color: $color-border-red;
      box-shadow: $shadow-box-red;
    }
  }
}

/* МОДИФИКАТОР для input - узкий */
.input--slim {
  height: 31px;
  padding: 5px 10px;
}

/* БЛОК базового поля для select */
select.input {
  padding: 5px 15px 5px 12px;
}

/* МОДИФИКАТОР для базового select */
select.input--slim {
  padding: 5px;

  option: {
    padding: 0;
  }
}

/* БЛОК базового поля для textarea */
textarea.input {
  height: 100px;
}

/* БЛОК для элементов контроля (radio, checkbox, toggle) */
.input-control {
  display: flex;
  align-items: center;
  line-height: 1;
  width: 100%;
}

/* ЭЛЕМЕНТ чекбокса из label */
.input-control__input {
  cursor: pointer;
  appearance: none;
  border: 1px solid $color-border-control;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  background: #ffffff;

  &:before {
    content: "\E807";
    font-family: $font-icons-base;
    line-height: 1;
    font-size: 11px;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:after {
    content: "";
    display: none;
    background: $color-indeterminate-bg;
    width: 10px;
    height: 10px;
    border-radius: 1px;
  }

  &:not(:disabled):checked:before {
    display: inline-flex;
  }

  &:not(:disabled):not(.input-control__input--radio):indeterminate:after {
    display: block;
  }

  &:disabled,
  &:disabled + label {
    cursor: default;
    opacity: 0.6;
  }
}

/* МОДИФИКАТОР для элемента - radio-кнопка */
.input-control__input--radio {
  border-radius: 50%;

  &:before {
    content: "";
    background: $color-indeterminate-bg;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* ЭЛЕМЕНТ метки чекбокса */
.input-control__label {
  margin: 0;
  padding: 0 0 0 9px;
  color: $color-text-base;
  font-size: 14px;
  cursor: pointer;
}

/* МОДИФИКАТОР для метки */
.input-control__label--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* МОДИФИКАТОР для элемента контроля - голубой */
.input-control--blue {
  .input-control__input {
    border-color: $color-border-control-blue;
    width: 20px;
    height: 20px;

    &:before {
      content: "";
      width: 14px;
      height: 14px;
      background-color: $color-border-control-blue;
    }
  }
}
