@import "variables";

/* ПЕРЕМЕННЫЕ */
$color-bg-wrapper: rgba(0, 0, 0, 0.5);
$color-border: #e8e8e8;
$padding-x: 25px;

$active-color-hover: #007bff;

/* БЛОК с всплывающим окном */
.popup {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-bg-wrapper;
  display: block;
  transition: opacity 0.3s;
  overflow-y: auto;
  line-height: 1;
}

/* ЭЛЕМЕНТ кнопки закрытия */
.popup__close {
  font-size: 20px;
  line-height: inherit;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 12px;
  opacity: 0.6;
  transition: opacity 0.08s;
  z-index: 10;
  color: $color-text-base;
  cursor: pointer;

  &:before {
    content: "\E802";
    font-family: $font-icons-base;
  }

  .no-touchevents &:hover {
    opacity: 0.8;
  }
}

/* ЭЛЕМЕНТ блока внутри всплывашки */
.popup__container {
  max-width: 80%;
  width: 500px;
  top: 0;
  margin: 1.5rem auto;
  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  position: relative;
  transition: top 0.1s;
}

/* ЭЛЕМЕНТ с меткой */
.popup__sign {
  position: absolute;
  top: 0;

  .sign:before,
  .sign-flag:before {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

/* ЭЛЕМЕНТ с полями справа */
.popup__right-side {
  position: absolute;
  right: 25px;
  bottom: 5px;
}

/* ЭЛЕМЕНТ заголовка */
.popup__header {
  padding: 20px 45px 20px $padding-x;
  border-bottom: 1px solid $color-border;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  line-height: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

/* ЭЛЕМЕНТ подложки в заголовке */
.popup__header-wrap {
  line-height: inherit;
  width: 100%;
}

/* ЭЛЕМЕНТ заголовка контейнера */
.popup__title {
  width: 100%;
  margin: 0;
  font-size: 22px;
  line-height: inherit;
  font-weight: 400;

  .popup__sign + & {
    padding: 0 0 0 40px;
  }
}

/* ЭЛЕМЕНТ описания под заголовком контейнера */
.popup__sub-title {
  line-height: inherit;
  font-size: 16px;
  color: $color-text-light;
  width: 100%;
  margin: 10px 0 0;
  display: flex;
  justify-content: space-between;

  .popup__sign + .popup__title + & {
    padding: 0 0 0 40px;
  }
}

/* ЭЛЕМЕНТ тела контейнера */
.popup__body {
  padding: 15px $padding-x;
  position: relative;
}

/* ЭЛЕМЕНТ подвала контейнера */
.popup__footer {
  padding: 15px $padding-x;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $color-border;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

/* АНИМАЦИЯ ДЛЯ VUE */
.popup-enter {
  opacity: 0;
}

.popup-leave-active {
  opacity: 0;
}

.popup-enter .popup__container,
.popup-leave-active .popup__container {
  top: -100px;
}
