@import "variables";

/* БЛОК с полосой прогресса*/
.progress {
  height: 16px;
  line-height: 0;
  font-size: 14px;
  background-color: #e9ecef;
  border-radius: $border-radius;
  overflow: hidden;
}

/* ЭЛЕМЕНТ ползунка внутри прогресс-бара */
.progress__bar {
  height: 16px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #3490dc;
  transition: width .6s ease;
  background-image: linear-gradient(45deg, hsla(0, 0%, 100%, .15) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .15) 0, hsla(0, 0%, 100%, .15) 75%, transparent 0, transparent);
  background-size: 1rem 1rem;
  animation: progress-bar-stripes 1s linear infinite;
}

/* МОДИФИКАТОР ползунка - зеленый */
.progress__bar--success {
  background-color: $color-bg-green;
}

/* МОДИФИКАТОР ползунка - желтый */
.progress__bar--warning {
  background-color: $color-bg-yellow;
}
@keyframes progress-bar-stripes {
  from { background-position: 16px 0; }
  to { background-position: 0 0; }
}
