/.idea
/node_modules
/www/hot
/www/storage
/storage/debugbar
/storage/framework
/storage/logs
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
