@import "variables";

/* НАСТРОЙКИ */
$color-border: #dee2e6;
$font-size: 14px;

/* БЛОК с таблицей */
.table {
  border-collapse: collapse;
  width: 100%;
  background: #ffffff;

  th {
    vertical-align: middle;
    border: 1px solid $color-border;
    border-bottom: 2px solid $color-border;
    padding: 10px 15px;
    font-size: 15px;
  }

  tr:nth-child(even) {
    background: $color-bg-grey;
  }

  td {
    border: 1px solid $color-border;
    padding: 5px 15px;
    height: 50px;
    font-size: $font-size;
    max-width: 300px;
  }
}

/* ЭЛЕМЕНТ с подложкой для адаптивности */
.table__responsive {
  width: 100%;
  //overflow-x: auto;
  overflow-scrolling: touch;
}

/* ЭЛЕМЕНТ с кнопка управления сверху таблицы */
.table__top {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
}

/* ЭЛЕМЕНТ с селектом записей на странице */
.table__limit {
  margin: 0 20px 0 0;
  display: inline-flex;

  & > div {
    display: flex;
    white-space: nowrap;
    align-items: center;

    label {
      white-space: nowrap;
      font-size: 14px;
      margin: 0 10px 0 0;
    }
  }
}

/* ЭЛЕМЕНТ с поиском */
.table__search {
  margin-left: auto;
}

/* ЭЛЕМЕНТ ячейки в заголовке */
.table__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.VuePagination {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;

  & + p {
    font-size: 14px;
    color: $color-text-light;
  }
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;
  font-size: 12px;

  .no-touchevents &:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }

  .page-item.active & {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .page-item:first-child & {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .page-item.disabled & {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }
}
